name: scheduled-python-job

on:
  push:
    branches:
      - main

# on:
#   schedule:
#     # cron is UTC. change to CST TIMEZONE
#     - cron: "0 12 * * *"   # every day at 12:00 UTC
#   workflow_dispatch: {}     # optional: add a manual "Run workflow" button

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python
        uses: astral-sh/setup-uv@v7.0

      # for faster installs between runs
      - name: Cache Playwright browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright

      - name: Sync dependencies
        run: uv sync

      - name: Install Playwright browsers
        run: uv run playwright install --with-deps

      - name: Run script
        env:
          PB_USERNAME: msaifhassan@gmail.com
          PB_PASSWORD: ${{ secrets.PB_PASSWORD }}
          SENDER_EMAIL: msaifhassan@gmail.com
          RECEIVER_EMAIL: msaifhassan@gmail.com
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          TEST_MODE: false
        run: |
          uv run python src/pb_automation/auto.py