name: scheduled-python-job

on:
  push:
    branches:
      - main

# on:
#   schedule:
#     # cron is UTC. change to CST TIMEZONE
#     - cron: "0 12 * * *"   # every day at 12:00 UTC
#   workflow_dispatch: {}     # optional: add a manual "Run workflow" button

jobs:
  run-script:
    runs-on: ubuntu-latest
    env:
      PLAYWRIGHT_BROWSERS_PATH: ~/.cache/ms-playwright
    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7.0

      - run: uv sync

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: playwright-chromium
          restore-keys: playwright-chromium

      - name: Install Playwright Chromium
        run: |
          if [ -z "$(ls -d ~/.cache/ms-playwright/chromium-* 2>/dev/null)" ]; then
            echo "Chromium not found — installing..."
            uv run playwright install chromium --with-deps
          else
            echo "Chromium found — skipping install."
          fi

      - name: Run script
        env:
          PB_USERNAME: msaifhassan@gmail.com
          PB_PASSWORD: ${{ secrets.PB_PASSWORD }}
          SENDER_EMAIL: msaifhassan@gmail.com
          RECEIVER_EMAIL: msaifhassan@gmail.com
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          TEST_MODE: false
        run: |
          uv run python src/pb_automation/auto.py